body {
    display: flex;
    font-family: 'Segoe UI';
    margin: 0;
    background: #f3f4f6;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #0f172a;
    color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar li {
    margin: 15px 0;
    cursor: pointer;
    list-style: none;
}

/* MAIN */
.main {
    flex: 1;
    padding: 30px;
}

h1 {
    margin-bottom: 20px;
}

/* ROW */
.row {
    display: flex;
    gap: 15px;
}

/* CARDS */
.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.cards {
    display: flex;
    gap: 20px;
}

.cards .card {
    flex: 1;
    text-align: center;
}

/* INPUT */
input, select {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* BUTTON */
button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #4f46e5;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #4338ca;
}

/* THEMES */
.yellow { background:#fff7cc; }
.pink { background:#ffe4ec; }
.blue { background:#e6f0ff; }
.orange { background:#ffe5cc; }
.black { background:#000; color:white; }
.white { background:#fff; }

/* POPUP */
.popup {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    display:none;
    justify-content:center;
    align-items:center;
}

.popup-box {
    background:white;
    padding:20px;
    border-radius:12px;
    width:300px;
}

.cat-list button {
    margin:5px;
}

.popup-btns {
    display:flex;
    justify-content:space-between;
}